<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Antologia młodej poezji</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--ogarnac fontawesome <link rel="stylesheet" href="https://use.typekit.net/lxk8jvm.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">-->
    <link rel="stylesheet" href="https://use.typekit.net/nba4kaa.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/static/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/static/slick/slick-theme.css" />
    
    <link rel="stylesheet" href="/static/css/main.css"> 
    <link rel="stylesheet" media='screen and (min-width: 576px)' href="/static/css/small.css"> 
    <link rel="stylesheet" media='screen and (min-width: 768px)' href="/static/css/medium.css"> 
    <link rel="stylesheet" media='screen and (min-width: 992px)' href="/static/css/large.css">
    <link rel="stylesheet" media='screen and (min-width: 1280px)' href="/static/css/x_large.css">
    <link rel="stylesheet" media='screen and (min-width: 1580px)' href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/all.css">


</head>

<body data-spy="scroll" data-target="#navbar">

    <nav class="navbar navbar-expand-lg fixed-top shadow-bg" id="navbar">

        <a class="navbar-brand" href="#">
        <img src="/static/img/logo_nieregularne_środowisko.png" alt="Nieregularne środowisko logo" width="50"
         height="50">

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <!--<i class="fas fa-bars"></i> -->
            <i class="fas fa-align-center"></i>
        </button>


        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link radius active" href="#aboutus">O projekcie</a>
                <a class="nav-item nav-link" href="#aboutus-hero">Autorzy</a>
                <a class="nav-item nav-link" href="https://issuu.com/nieregularnesrodowisko/docs/antologia_issu_6ca9cfcadb7392?fbclid=IwAR30dr2x9rii6pYqvrdL7JX2TMX7fXkVIFbcSCJlzuucaqq748Ui7iWKrtU" target="blank">Czytaj na ISSUU</a>
                <a class="nav-item nav-link" href="#contact">Kontakt</a>
            </div>
        </div>

    </nav>

    <header id="home">  
        <div class="hero-img">
            <div class="hero-text_glowny">
                        <div class="os-animation" data-animation='fadeIn' data-delay='.2s'>
                            <span class="re-text">RE</span><i><span class="g-text">G</span><span class="u-text">u</span></i> <span class="ly-text">ŁY</span> <span class="gr-text">GR</span><span class="y-text">Y</span> 
                        </div>

                <div class="os-animation" data-animation='fadeIn' data-delay='.5s'>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="leftArrow">   
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 nopading">
                                        <div class="special_arrow_download">
                                            <a href="/static/file/antologia.pdf" download> 
                                            <img src="/static/img/POBIERZ-10.png"  alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 nopading">
                                        <div class="download_antol_up">POBIERZ ANTOLOGIĘ</div>
                                        <div class="download_antol_down">i czytaj na swoim komputerze</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="ant">
                                <span><strong>Antologia młodej poezji</strong></span>
                                <br>
                                <span><strong>wrocławskiej 2020 r.</strong></span>
                            </div>
                            <div class="special_arrow">
                                <a href="#aboutus"> 
                                <img src="/static/img/ikona.png"  alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
<!--   <i class="fas fa-chevron-down"></i>  -->
    </header>
    <main>
        <section id="aboutus" class="scroll-fix">
            <div class="jumbotron jumbotron-fluid">
                <div class="wrapper">
                    <div class="underline"></div>

                    <div class="row name"> <!--d-md-flex-->
                            <div class="col-md-12 col-sm-12 col-lg-10">
                                
                                <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3" style="max-height:800px; border-style: solid; border-color:#e7743e">
                                    <div id="myDIV">   
                                        <p>
                                            <strong>Nieregularne środowisko</strong> <br><br>
                                                Strona Nieregularne Środowisko powstała w celu zebrania i upowszechniania młodej poezji z
                                                Wrocławia oraz regionu Dolnego Śląska. Za nazwę posłużył tytuł felietonu, jaki ukazał się w
                                                2018 roku w WydawnictwieJ - Rafał Różewicz, Kamil Kawalec* „Nieregularne środowisko”. 
                                                Nowa literatura Dolnego Śląska, zadającego pytanie o kondycję lokalnego środowiska
                                                młodopoetyckiego. 
                                                <br><br>
                                                Platforma - skupiając się na twórcach przed debiutem książkowym, jak też tych, którzy
                                                wydali już pierwszą książkę poetycką - służy stworzeniu bazy autorów starających się wejść
                                                w struktury pola poetyckiego oraz przepracowaniu permanentnego stanu rozproszenia w
                                                jakim znajdują się autorzy i ich przynależności do środowiska.
                                                <br><br>
                                                Projekt jest jednocześnie związany z badaniami nad rozwojem poezjotwórczości we
                                                Wrocławiu i jego funkcji względem regionu. Rozwojowi myśli nad kształtem wrocławskiego
                                                środowiska młodopoetyckiego towarzyszą pytania o jego charakterystykę na tle trendów
                                                ogólnopolskich, ustalenie pozycji względem heteronomii oficjalnego środowiska
                                                poetyckiego, instytucji miejskich czy kulturalnych oraz o warunki rozwoju lokalnych
                                                młodych twórców. Stawia pytanie o samoświadomość środowiskową młodych autorów, ich
                                                kontakty w przestrzeni lokalnej oraz o trend kształtowania się środowiska online, a więc
                                                internetowy charakter (typ) lokalności, eksterytorialności i kryterium przynależności. 
                                                <br><br>
                                                Badania dotyczą również kategorii wrocławskości w twórczości młodopoetyckiej oraz zasad
                                                jej stosowania w odniesieniu do sylwetek autorów. Na ile lokalność ewokująca z twórczości
                                                poetyckiej jest współcześnie zasadna? W jakim stopniu staje się przeżytkiem, a w jakim
                                                środkiem konstytuującym tożsamość autora? 
                                                <br><br>
                                                Zapraszam młodych autorów związanych z Wrocławiem i regionem Dolnego Śląska do
                                                wysyłania utworów poetyckich. Teksty będą publikowane na facebookowej stronie
                                                Nieregularnego Środowiska.
                                                <br><br>
                                                Projekt zrealizowano w ramach stypendium artystycznego prezydenta Wrocławia z zakresu
                                                upowszechniania kultury - &quot;Animacja młodego wrocławskiego środowiska poetyckiego&quot;.
                                        </p> 
                                </div>
                                </div>

                              </div>

                              <div class="col-md-12 col-sm-12 col-lg-2">
                                <button class="button" id="option 1" onclick="switch_text()" value="O nieregularnym środowisku">O projekcie</button>  
                              </div>
                            </div>
                    </div>
            </div>
        </section>
        <section id="aboutus-hero">
            <div class="jumbotron jumbotron-fluid">
                <div class="about-shadow"></div>
                <div class="wrapper">
                  <!--   <h2 class="os-animation visibility" data-animation="fadeIn">Autorzy</h2> -->
                    <div class="underline os-animation visibility" data-animation="fadeIn" data-delay=".1s"></div>
                    <div class="row">
                        <!--33-->
                        <div class="col-lg-4 col-md-4 col-sm-4 text-center about-hero-item os-animation visibility"
                            data-animation="bounceInUp" data-delay=".1s"> 
                                <p class="autorzy">Maciej Bobula</p>
                                <p class="autorzy">INGA CHMURZYŃSKA</p>
                                <p class="autorzy">Wiktoria Chojnacka</p>
                                <p class="autorzy">Lena Czerniawska</p>
                                <p class="autorzy">Marcin czerwiński</p>
                                <p class="autorzy">Natalia dziuba</p>
                                <p class="autorzy">Kamil Figas</p>
                                <p class="autorzy">Victor Ficnerski</p>
                                <p class="autorzy">ANDRZEJ GRAUL</p>
                                <p class="autorzy">BARTOSZ HORYZA</p>
                                <p class="autorzy">KACPER JASKULSKI</p>
                                <p class="autorzy">NIKA JASTURN</p>
                                
                             </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 text-center about-hero-item os-animation visibility"
                            data-animation="bounceInUp" data-delay=".2s">
                            <p class="autorzy">ANIA KALTBACH</p>
                            <p class="autorzy">KAROLINA KAPUSTA</p>
                            <p class="autorzy">KAMIL KAWALEC</p>
                            <p class="autorzy">ADELA KISZKA</p>
                            <p class="autorzy">MACIEJ KONARSKI</p>
                            <p class="autorzy">GABRIEL KORBUS</p>         
                            <p class="autorzy">MICHALINA KRÓLIKOWSKA</p>
                            <p class="autorzy">DOMINIK KUROWSKI</p>
                            <p class="autorzy">PAWEŁ MAJCHERCZYK</p>
                            <p class="autorzy">SONIA NOWACKA</p>
                            <p class="autorzy">MARTYNA PANKIEWICZ-PIOTROWSKA</p>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 text-center about-hero-item os-animation visibility"
                        data-animation="bounceInUp" data-delay=".3s">
                        <p class="autorzy">ADAM PIETRYGA</p>       
                        <p class="autorzy">ALICJA REGIEWICZ</p>
                        <p class="autorzy">PIOTR ROZBICKI</p>
                        <p class="autorzy">MICHAŁ RYPEL</p>
                        <p class="autorzy">LULA SARNIA</p>
                        <p class="autorzy">JAKUB SĘCZYK</p>
                        <p class="autorzy">DOMINIKA SKOTAREK</p>
                        <p class="autorzy">ALEKSANDER TROJANOWSKI</p>
                        <p class="autorzy">ADRIAN TUJEK</p>
                        <p class="autorzy">KRZYSZTOF WIEWIÓRA</p>
                        <p class="autorzy">MICHAŁ ŻŁOBICKI</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>

    <section id="contact" class="scroll-fix">

        <div class="jumbotron jumbotron-fluid">

            <div class="wrapper row text-center contact-us">
                <div class="contact-item col-sm-4 col-md-4 col-lg-5 order-1 order-lg-1">
                    <br><br>
                    <h3>Dla autorów</h3>
                    <br>
                    <p class="for_author">
                        Proszę o przesyłanie tekstów w formatach .doc, .png, czcionka Times New Roman, 12 pkt.,
                        interlinia 1,5 wersu, obustronnie wyjustowane, margines standardowy 2,5 cm wraz z krótkim
                        biogramem.</p>
                </div>


                <div class="contact-item col-sm-4 col-md-4 col-lg-2 order-1 order-lg-1">

                    <div class="social-media">
                        <br><br><br><br>
                        <a class="nav-item nav-link" href="http://facebook.com/nieregularnesrodowisko" target="blank"><i class="fab fa-facebook-square"></i></a>
                        <a class="nav-item nav-link" href="http://instagram.com/nieregularnesrodowisko" target="blank"><i class="fab fa-instagram"></i></a>
                       <!--   <br>
                        <i class="far fa-envelope"></i>
                        <br>
                        <span class="mail">nieregularnesrodowisko@gmail.com</span> -->
                    </div>
                </div>
                
                <div class="contact-item col-sm-4 col-lg-5 order-1 order-lg-1">

                    <div class="author">
                        <p>
                            Prowadzenie projektu: Kamil Kawalec<br>
                            e-mail: nieregularnesrodowisko@gmail.com</p>
                        <p>Antologia powstała w ramach stypendium artystycznego
                        Prezydenta Wrocławia z zakresu upowszechniania kultury na 2020 r.
                        Animacja młodego wrocławskiego środowiska poetyckiego. </p></div>
                </div>
            </div>
        </div>
    </section>

    <section id="cooperation" class="scroll-fix">
        <div class="jumbotron jumbotron-fluid">
            <div class="team-shadow"></div>
            <h2 class="os-animation visibility" data-animation="fadeIn">Patronat</h2>
            <br>
            <div class="underline os-animation visibility" data-animation="fadeIn" data-delay=".1s"></div>

            <div class="card-deck wrapper team-carousel">
                <div class="card border-0">
                    <img src="/static/img/LOGOTYPY-01.png" class="card-img-top" 
                    alt="">
                </div>
                <div class="card border-0">
                    <img src="/static/img/LOGOTYPY-02.png" class="card-img-top" 
                    alt="">
                </div>
                <div class="card border-0">
                    <img src="/static/img/LOGOTYPY-03.png" class="card-img-top"
                        alt="">
                </div>
                <div class="card border-0">
                    <img src="/static/img/LOGOTYPY-04.jpg" class="card-img-top" 
                    alt="">
                </div>
                <div class="card border-0">
                    <img src="/static/img/LOGOTYPY-05.jpg" class="card-img-top"
                        alt="">
                </div>
                <div class="card border-0">
                    <img src="/static/img/LOGOTYPY-06.jpg" class="card-img-top"
                        alt="">
                </div>
                <div class="card border-0">
                    <img src="/static/img/LOGOTYPY-07.png" class="card-img-top"
                        alt="">
                </div>
                <div class="card border-0">
                    <img src="/static/img/LOGOTYPY-08.jpg" class="card-img-top"
                        alt="">
                </div>
                <div class="card border-0">
                    <img src="/static/img/LOGOTYPY-09.png" class="card-img-top"
                        alt="">
                </div>
            </div>
        </div>
    </section>

</main>
    <footer>
        <p class="footer"> Stronę zaprojektowała &copy;Malwa, wykonał &copy;Mat </p>
    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>


    <script src="static/js/animation.js"></script>
    <script src="static/js/swith.js"></script>
    <script src="static/js/jquery.waypoints.min"></script>
    <script src="static/slick/slick.min.js"></script>
    <script src="static/js/main.js"></script>
</body>

</html>
