.re-text {
  font-size: 166px;
  letter-spacing: -10px;

}

.g-text {
  font-size: 190px;

}
.u-text{
  font-size: 295px;

  
}
.ly-text {
  font-size: 162px;
}

.gr-text {
  font-size: 180px;
  letter-spacing: -15px;

}

.y-text {
  font-size: 162px;
}

.download_antol_up{
    font-size:25px;  
}
.download_antol_down{
    font-size: 20px;

}
.ant{
  font-size: 37px;
  padding-left:70px;
}

#aboutus-hero .jumbotron .autorzy{

  font-size:27px;
}
#myDIV p{
  font-size: 30px
}