*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
/*belka stopka font*/
body {
  position: relative;
  font-family: 'acumin-pro';
  background-color: #333;
  font-size: 27px;
}


*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #ef4027
}


h2 {
  text-transform: uppercase;
  text-align: center;
}


.onas {
  text-align: center;
}

.wrapper {
  max-width: 2560px;
  width: 80%;
  margin: 0 auto;
}



.about-us_text {
  color: rgb(71, 20, 20);
  font-size: 20px;
}

.scroll-fix::before {
  display: block;
  margin-top: -66px;
  height: 66px;
  content: '';
}

.visibility {
  visibility: hidden;
}

.jumbotron {
  margin: 0;
}


nav a,
nav i {
  color: rgb(255, 255, 255);
  -webkit-transition: color .3s;
  transition: color .3s;
  
  
  
}



/*.navbar-brand {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 70%;
  max-width: calc(100% - 4em);
}*/


a.nav-item.nav-link.radius{
  border: 2px solid rgb(250, 250, 250);
  border-radius: 50%;
}



nav a:hover {
  color: #000000;
}

nav i {
  padding: 10px;
}

nav .navbar-brand {
  font-weight: bold;
  color: rgb(51, 51, 51);
  padding-left: 10px;
  padding-top: 10px;
}

nav .active {
  color: #f7f33c;
}

.shadow-bg {
  background-color: rgba(243, 73, 16, 0.203);
}

header {
  color: #fff;
  overflow: hidden;
}

header h1 {
  padding: 10px;
  text-transform: uppercase;
  font-size: 30px;
}

header .hero-img {
  position: relative;
  height: 100vh;
  background-position: center;
  background-size: cover;
  z-index: 0;
  background: linear-gradient( rgba(244,73,16,1) 0%, rgba(249,157,126,1) 30%, rgba(233,236,239,1) 50%);
  background-size: 200% 200%;

}


/*  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  text-align: center;
  color: #ca3d0e;
  position: relative;*/



header .hero-text_glowny {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.mat{
  /*padding-left:480px;*/
}

.re-text {
  font-size: 193px;
  color: #ef4027;
  font-family: 'acumin-pro';
  letter-spacing: -15px;

}

.g-text {
  font-size: 215px;
  color: #ef4027;
  font-family: 'Cormorant Garamond', serif;
}
.u-text{
  font-size: 350px;
  color: #ef4027;
  font-family: 'Cormorant Garamond',serif;
  font-weight: 300;
  
}
.ly-text {
  font-size: 193px;
  padding-right: 40px;
  color: #ef4027;
  font-family: 'acumin-pro', sans-serif;
  letter-spacing: -15px;

}

.gr-text {
  font-size: 204px;
  color: #ef4027;
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: -15px;
}

.y-text {
  font-size: 187px;
  color: #ef4027;
  font-family: 'acumin-pro',sans-serif;
}

.ant{
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-size: 40px;
  color: #ef4027;
  padding-left:350px;
  
}


.special_arrow{
  text-align:right;
}

.special_arrow_download{
  text-align:left;

}

.download_antol{
  font-size: 20px;
  font-weight: 600;
  font-family: 'Cormorant Garamond', serif;
  color: #ef4027;
}


header .fa-chevron-down {
  display: none;
}

i.icon-strzala:before {
  content: "\e900";
}


#home h1 {
  font-size: 100px;
}

#home p {
  font-size: 30px;

}


#aboutus i {
  margin-top: 20px;
  font-size: 30px;
}

#aboutus h3 {
  font-size: 18px;
}

#aboutus p {
  font-size: 40px;
}


#aboutus .aboutus-hover {
  -webkit-transition: color .3s;
  transition: color .3s;
}

#aboutus .aboutus-hover:hover {
  color: #b4692b;
}

i.ikona {
  background: url('/static/img/ikona.svg');
  height: 20px;
  width: 20px;
  display: block;
  /* Other styles here */
}









#aboutus-hero p {
  color: rgb(0, 0, 0);
  overflow: hidden;
  font-family: 'acumin-pro';
  font-size: 100px;
}

#aboutus-hero .jumbotron {
  position: relative;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;

 /* background: linear-gradient( rgba(233,236,239,1) 0%, rgba(249,157,126,1) 30%, rgba(244,73,16,1) 50%);*/
 background-color :#ef4027;
  background-size: 200% 200%;
}

#aboutus-hero h3 {
  font-size: 32px;
}

#aboutus-hero .jumbotron i {
  font-size: 35px;
}

#aboutus-hero .jumbotron p {
  font-size: 14px;
}

#aboutus-hero .about-hero-item .row {
  margin: 10px 0;
  font-size: 20px;
}


#aboutus-hero .jumbotron .autorzy{
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: 'acumin-pro',sans-serif;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}


/* css do slidera*/


@media (min-width: 375px) {
  header h1 {
    font-size: 36px;
  }

  header .hero-text p {
    font-size: 16px;
  }

  #aboutus-hero .jumbotron h2 {
    font-size: 36px;
  }

  #aboutus-hero .jumbotron h3 {
    font-size: 32px;
  }

  #aboutus-hero .jumbotron p {
    font-size: 18px;
  }

  #team .card-text {
    font-size: 15px;
  }
}

@media (min-width: 411px) {
  #aboutus-hero .jumbotron {
    padding: 80px 0;
  }
}

@media (min-width: 500px) {
  #team .card-body {
    height: 120px;
  }
}




/*nowy footer*/


#contact .jumbotron {
  position: relative;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;

}

#contact .jumbotron h2 {
  color: #fff;
  font-weight: bold;
}

#contact .jumbotron{
  /*background: linear-gradient( rgba(244,73,16,1) 0%, rgba(249,157,126,1) 30%, rgba(233,236,239,1) 70%);*/
  background:#ffffff;
  height: 60vh;
}

#contact .contact-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /*background: linear-gradient( rgba(244,73,16,1) 0%, rgba(249,157,126,1) 30%, rgba(233,236,239,1) 70%);*/
  
}

#contact .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  color: rgb(0, 0, 0);
}

#contact .contact-us .contact-item {
  margin: 30px 0;
}

#contact .contact-us .contact-item h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}



#contact .contact-us .contact-item .social-media a {
  font-size: 50px;
  padding: 10px;
  color: #fff;
  text-shadow: 0 0 5px black;
}

#contact .contact-us .contact-item .social-media a:hover {
  color: #ccc;
}
#contact .contact-us .contact-item .social-media i
{
  font-size: 50px;
  padding: 10px;
  color: #fff;
  text-shadow: 0 0 5px black;
}

.for_author{
  text-align: left;
  color: #ef4027;
}

.author{
  text-align: left;
  color: #ef4027;
}

.mail{
  font-size: 30px;
  padding-left: 5px;
}


#cooperation .jumbotron {
  position: relative;
}


#cooperation .jumbotron h2 {
  color: #ef4027;
}

#cooperation .team-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:#ffffff;
}

#cooperation .card {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;

}

#cooperation .card img {
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;

}

#cooperationm .card .row {
  margin-left: 0;
  margin-right: 0;
}

#cooperation .card:hover {
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
}

footer {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

footer p {
  padding: 20px;
  margin-bottom: 0;
  text-align: center;
}

.card-deck .cw-30 {
  flex: 1 0 30%;
  max-width: 30%;
  height:20%;
}

.card-deck .cw-70 {
  flex: 1 0 70%;
  max-width: 70%;
  height:20%;

}