/*
header h1 {
  font-size: 42px;
}

header .hero-text p {
  font-size: 20px;
}

#prices .price-wrap {
  width: 90%;
}

#prices .price-info {
  font-size: 23px;
}

#team .card-body {
  height: 150px;
}*/


.re-text {
  font-size: 120px;

  letter-spacing: -10px;

}

.g-text {
  font-size: 130px;

}
.u-text{
  font-size: 220px;

  
}
.ly-text {
  font-size: 120px;
}

.gr-text {
  font-size: 130px;
  letter-spacing: -15px;
}

.y-text {
  font-size: 120px;
}

.mat{
  /*padding-left:250px;*/
}

.ant{
  /*font-size: 44px;
  
}

#aboutus-hero .jumbotron .autorzy{
  font-size: 20px;
}

.for_author{
font-size:19px;
}

.author{
  font-size:18px;
}

.mail{
  font-size: 14px;
}

