.re-text {
  font-size: 126px;
  letter-spacing: -10px;
}

.g-text {
  font-size: 140px;

}
.u-text{
  font-size: 223px;
}

.ly-text {
  font-size: 124px;
}

.gr-text {
  font-size: 140px;
  letter-spacing: -15px;
}

.y-text {
  font-size: 126px;
}

.download_antol_up{
    font-size:25px;  
}
.download_antol_down{
    font-size: 20px;

}
.ant{
  font-size: 40px;
  padding-right:0px;
  text-align:right;
  padding-left: 265px;
}
#aboutus-hero{
  display:block;
}
#aboutus-hero .jumbotron .autorzy{

  font-size: 15px;
}
#myDIV p{
  font-size: 25px
}
.leftArrow{
  display:none;
  padding-top:180px;
  padding-left:40px;
}
.special_arrow {
  display:none;
  padding-top: 105px;
}

.for_author{
  font-size: 13px;
}
.author{
  display:block;
  font-size: 13px;
  padding-top: 37px;
  padding-left: 26px;
}

#contact .contact-us .contact-item h3{
  font-size:15px;
}

.social-media{
  display:none;
}

.alternate_social{
  display:block;
}

a.nav-item.nav-link.author_mobile {
    display: none;
}
a.nav-item.nav-link.radius {
    border: 0px;
}
