.re-text {
  font-size: 99px;
  letter-spacing: -10px;
}

.g-text {
  font-size: 110px;
  letter-spacing: -8px;
}

.u-text{
  font-size: 179px;
}

.ly-text {
  font-size: 97px;
}

.gr-text {
  font-size: 109px;
  letter-spacing: -15px;
}

.y-text {
  font-size: 98px;
}
.ant{
  font-size: 28px;
  padding-left:225px;
  text-align: right;
  padding-right: 0px;
}

#aboutus-hero .jumbotron .autorzy{
  font-size:27px;
}

.download_antol_up{
    font-size:25px; 
    padding-left:22px; 
}
.download_antol_down{
    font-size: 20px;
    padding-left:22px;
}
#aboutus-hero{
  display:block;
}
#aboutus-hero .jumbotron .autorzy
{
  font-size:10px;
  line-height: 1em;
}

#myDIV p
{
  font-size: 20px;
}
.leftArrow{
  display:none;
  padding-top:180px;
  padding-left:40px;
}
.special_arrow {
  display:none;
  padding-top: 100px;
  padding-right: 60px;
}

.for_author{
  font-size: 10px;
  margin-bottom: 0px;
}
.author{
  font-size: 10px;
  padding-top: 5px;
}

#contact .contact-us .contact-item h3{
  font-size:10px;
  margin-bottom: -26px;
}

.social-media{
  display:block;
}

.alternate_social{
  display:none;
}

a.nav-item.nav-link.author_mobile {
    display: block;
}

a.nav-item.nav-link.radius {
    border: 0px;
}

#aboutus-hero .jumbotron {
    padding: 40px 0;
}

.social-media
  {

          display:none;
  }

  #contact .contact-us .contact-item {
        margin: 0px;
  }

  #contact .jumbotron{
        height: 70vh;
  }



  .alternate_social{
  display:block;
  }


  .alternate_social a
  {
  font-size: 50px;
  padding: 10px;
  color: #fff;
  text-shadow: 0 0 5px black;
  display: flex;
  justify-content: center;
    align-items: center;
  }


  .alternate_social i
  {
    font-size: 50px;
    padding: 10px;
    color: #ffffff;
    text-shadow: 0 0 5px #ef4027;
    display: flex;
    justify-content: center;
    align-items: center;

  }


  .alternate_social a:hover
  {
  color: #ffffff;
  display: flex;
  justify-content: center;
    align-items: center;
  }

