.re-text {
    font-size: 200px;
    letter-spacing: -10px;
  
  }
  
  .g-text {
    font-size: 220px;
  
  }
  .u-text{
    font-size: 340px;
  
    
  }
  .ly-text {
    font-size: 185px;
  }
  
  .gr-text {
    font-size: 200px;
    letter-spacing: -15px;
  
  }
  
  .y-text {
    font-size: 180px;
  }
  
  .download_antol_up{
      font-size:25px;
  }
  .download_antol_down{
      font-size: 20px;
  }
  .ant{
    font-size: 44px;
    padding-left: 175px;
  }